<app-card>
    <div>
        <h4 class="border-b pb-4 mb-2">
            <strong class="title-header text-primary-900 text-lg">Personal Information</strong>
        </h4>
        <div>
            <div class="mb-6 mt-5">
                <h5 class="text-[15px] text-primary-900 font-bold mb-1">About Me:</h5>
                <p class="text-[15px] text-primary-800">Hi I'm Andrew Burns, has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a industry.</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Full Name:</p>
                <p class="text-[15px] text-primary-800">Hossein Bajan</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Mobile:</p>
                <p class="text-[15px] text-primary-800">(123) 123 1234</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Email:</p>
                <p class="text-[15px] text-primary-800">{{'hossein.bajan@hbsoft.com'}}</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Location:</p>
                <p class="text-[15px] text-primary-800">New York, USA</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Designation:</p>
                <p class="text-[15px] text-primary-800">Full Stack Developer</p>
            </div>
            <div class="flex mb-6">
                <p class="mr-8 text-[15px] text-primary-900 font-bold min-w-28">Experience:</p>
                <p class="text-[15px] text-primary-800">8 Years</p>
            </div>
        </div>
    </div>
</app-card>