<header class="mx-4 bg-white rounded-b-lg p-4 mb-4 shadow-sm">
    <div class="flex justify-between items-center">
        <div class="relative">
            <input type="text"
                class="py-2.5 pl-10 text-sm outline-none font-normal bg-gray-100 border-none rounded-full"
                placeholder="Search here ...">
            <button type="button"
                class="absolute w-9 h-9 inset-0 ltr:right-auto rtl:left-auto appearance-none peer-focus:text-primary flex justify-center items-center">
                <img class="w-5 h-5 relative top-0.5 left-0.5" src="/assets/icons/search-line.svg" alt="Search Icon">
            </button>
        </div>
        <div class="flex justify-between items-center">
            <div>
                <button (click)="menu.toggle($event)" #btn
                    class="w-10 h-10 bg-gray-100 flex justify-center items-center rounded-full transition duration-200 hover:bg-gray-200">
                    <img src="/assets/images/flags/usa.png" alt="country">
                </button>
                <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
            </div>
            <div class="mx-2">
                <button
                    class="w-10 h-10 bg-gray-100 flex justify-center items-center rounded-full transition duration-200 hover:bg-gray-200">
                    <img src="/assets/images/flags/usa.png" alt="country">
                </button>
            </div>
        </div>
    </div>
</header>