<app-card>
    <div class="flex justify-between items-center mb-4">
        <h4 class="text-primary-900 font-headingFontFamily font-bold text-lg">My Tasks</h4>
    </div>
    <div>
        <p-table [value]="files" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[10, 15, 20]" styleClass="p-datatable-striped custom-table"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-left">Task Name</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Completion</th>
                    <th>Priority</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>
                        <div class="flex justify-start items-center">
                            <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                            <a
                                class="font-semibold font-headingFontFamily ml-2 hover:text-primary-900 duration-200 transition-all text-base">
                                {{task.name}}
                            </a>
                        </div>
                    </td>
                    <td>{{task.deadline}}</td>
                    <td>
                        <span class="tag" [ngClass]="getStatusClass(task.status)">
                            {{task.status}}
                        </span>
                    </td>
                    <td>{{task.completion}}</td>
                    <td>
                        <span class="tag" [ngClass]="getStatusClass(task.priority)">
                            {{task.priority}}
                        </span>
                    </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</app-card>