<app-card>
    <div class="group flex justify-between">
        <div>
            <h4 class="font-semibold text-lg mb-2">Ratings</h4>
            <p>
                <strong class="text-gray-400 font-medium text-sm">YEAR OF 2022</strong>
            </p>
            <div class="mt-2.5">
                <strong class="mr-1 text-2xl text-primary-900">8.14k</strong>
                <span class="text-gray-400 font-normal text-sm">Review</span>
            </div>
            <div class="flex mt-7">
                <div class="mr-1">
                    <img src="/assets/icons/star.svg" class="w-4 h-4 relative top-0.5" alt="star">
                </div>
                <p class="text-primary-900 text-[15px] font-medium">
                    4.5 <span class="text-primary-600 mx-1">+15.6%</span> from previous period
                </p>
            </div>
        </div>
        <div class="max-w-40">
            <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</app-card>