<nav class="fixed top-0 left-0 h-full w-[260px] shadow-sm">
    <a class="flex items-center justify-between py-4 px-4 bg-white" routerLink="/">
        <img class="h-[2.9rem]" src="/assets/images/logo-type.svg" alt="logo">
        <!-- <img class="h-8" src="/assets/icons/arrow-square-left.svg" alt="arrow-square-left"> -->
    </a>
    <!-- end logo and logo type -->

    <div class="menu-container">
        <div *ngFor="let menus of menuItems">
            <p class="menu-container_top-nav">{{menus.category}}</p>
            <div *ngFor="let menu of menus.menus; let i = index">
                <a class="menu-container_item" (click)="toggleSubMenu(menu)" [routerLinkActiveOptions]="{ exact: false }"
                    [routerLink]="menu.routerLink" routerLinkActive="active-link">
                    <div class="menu-container_item--title">
                        <img class="menu-icon"
                            [src]="menu.isSelected ? '/assets/icons/menus/'+menu.iconSelectedSrc : '/assets/icons/menus/'+menu.iconSrc"
                            alt="Menu Icon">
                        <span class="menu-text">{{ menu.title | translate }}</span>
                    </div>
                    <div *ngIf="menu.items.length > 0">
                        <img class="w-[1.1rem] h-[1.1rem] mr-1"
                            [src]="menu.isOpen ? '/assets/icons/menus/chevron-line.svg' : '/assets/icons/menus/chevron-line-down.svg'"
                            alt="Menu Icon">
                    </div>
                </a>
                <div *ngIf="menu.isOpen" class="menu-items" [@dropDownMenu]>
                    <a *ngFor="let item of menu.items" class="menu-item" [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="item.routerLink" routerLinkActive="active-sub-link">
                        {{ item.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>