<nav [class]="sidebarClass">
    <a class="logo-wrapper" routerLink="/">
        <img class="h-10" src="/assets/images/hb.svg" alt="logo">
        <div class="logo-text">
            <h3 class="text-[1.3rem] text-primary-500 font-extrabold -mb-[1.55rem] -ml-[0.4rem]">BSOFT</h3>
        </div>
    </a>
    <!-- end logo and logo type -->

    <div class="menu-container">
        <div *ngFor="let menus of menuItems">
            <p class="menu-container_top-nav flex items-center">
                <span class="w-1.5 h-1.5 block mr-1.5 bg-gray-300 rounded-full"></span>
                <span class="text-sm">{{menus.category}}</span>
            </p>
            <div *ngFor="let menu of menus.menus; let i = index">
                <a *ngIf="menu.items.length" class="menu-container_item cursor-pointer" (click)="toggleSubMenu(menu)"
                    routerLinkActive="active-link">
                    <div class="menu-container_item--title">
                        <img class="menu-icon"
                            [src]="menu.isSelected ? '/assets/icons/menus/'+menu.iconSelectedSrc : '/assets/icons/menus/'+menu.iconSrc"
                            alt="Menu Icon">
                        <span class="menu-text">{{ menu.title | translate }}</span>
                    </div>
                    <div *ngIf="menu.items.length > 0">
                        <img class="w-[1.1rem] h-[1.1rem] mr-1"
                            [src]="menu.isOpen ? '/assets/icons/menus/chevron-line.svg' : '/assets/icons/menus/chevron-line-down.svg'"
                            alt="Menu Icon">
                    </div>
                </a>
                <a *ngIf="!menu.items.length" class="menu-container_item" [routerLinkActiveOptions]="{ exact: false }"
                    [routerLink]="menu.routerLink" routerLinkActive="active-link">
                    <div class="menu-container_item--title">
                        <img class="menu-icon"
                            [src]="menu.isSelected ? '/assets/icons/menus/'+menu.iconSelectedSrc : '/assets/icons/menus/'+menu.iconSrc"
                            alt="Menu Icon">
                        <span class="menu-text">{{ menu.title | translate }}</span>
                    </div>
                    <div *ngIf="menu.items.length > 0">
                        <img class="w-[1.1rem] h-[1.1rem] mr-1"
                            [src]="menu.isOpen ? '/assets/icons/menus/chevron-line.svg' : '/assets/icons/menus/chevron-line-down.svg'"
                            alt="Menu Icon">
                    </div>
                </a>
                <div *ngIf="menu.isOpen" class="menu-items" [@dropDownMenu]>
                    <a *ngFor="let item of menu.items" class="menu-item" [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="item.routerLink" routerLinkActive="active-sub-link">
                        {{ item.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>