<nav class="fixed top-0 left-0 h-full w-[260px]">
    <a class="flex items-center justify-start py-4 px-4 bg-white" routerLink="/">
        <img class="h-[2.9rem]" src="/assets/images/logo-type.svg" alt="logo">
    </a>
    <!-- end logo and logo type -->

    <div class="menu-container">
        <p class="menu-container_top-nav">Navigation</p>
        <div *ngFor="let menu of menus; let i = index">
            <a class="menu-container_item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="menu.routerLink"
                routerLinkActive="active-link">
                <div class="menu-container_item--title">
                    <img class="menu-icon" [src]="menu.iconSrc" alt="Menu Icon">
                    <span class="menu-text">{{ menu.title | translate }}</span>
                </div>
                <div *ngIf="menu.items.length > 0">
                    <img class="w-[1.1rem] h-[1.1rem] mr-1"
                        [src]="menu.isOpen ? '/assets/icons/chevron-line.svg' : '/assets/icons/chevron-line-down.svg'"
                        alt="Menu Icon">
                </div>
            </a>
            <div *ngIf="menu.isOpen" class="menu-items" [@dropDownMenu]>
                <ul>
                    <li *ngFor="let item of menu.items" class="menu-item">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>