<div class="mx-4 pb-4 mb-4">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 xl:col-span-8">
            <div class="grid grid-cols-12 gap-4 mb-4">
                <div class="col-span-12 xl:col-span-4" *ngFor="let item of data; let i = index">
                    <app-e-state-box [price]="item.price" [state]="item.state"
                        [percentage]="item.percentage" [icon]="item.icon"></app-e-state-box>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4 mb-4">
                <div class="col-span-12 xl:col-span-12">
                    <app-audience-overview></app-audience-overview>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 xl:col-span-8 mb-4">
                    <app-e-visit-by-day></app-e-visit-by-day>
                </div>
                <div class="col-span-12 xl:col-span-4 mb-4">
                    <div class="mb-4">
                        <app-impressions></app-impressions>
                    </div>
                    <div>
                        <app-activity-timeline></app-activity-timeline>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 xl:col-span-12 mb-4">
                    <app-revenue-status></app-revenue-status>
                </div>
            </div>
        </div>
        <div class="col-span-12 xl:col-span-4">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <app-e-rating-box></app-e-rating-box>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <app-e-live-visits></app-e-live-visits>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <app-sales-by-locations></app-sales-by-locations>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <app-new-customers></app-new-customers>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
        <div class="col-span-12 xl:col-span-12">
            <app-recent-orders></app-recent-orders>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 xl:col-span-8">
            <app-team-members-list></app-team-members-list>
        </div>
        <div class="col-span-12 xl:col-span-4">

        </div>    
        
    </div>

</div>