<div class="p-5 rounded-lg bg-white shadow-sm hover:shadow-md transition duration-200">
    <h3 class="text-primary-900 font-extrabold text-lg border-b mb-2 pb-3">RECENT ORDERS</h3>
    <div>
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="1"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[1, 10, 20]" styleClass="p-datatable-striped custom-table"
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Order ID</th>
                        <th>Product</th>
                        <th>Customer</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Reviews</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.code}}</td>
                        <td>
                            <div class="flex justify-start items-center">
                                <img [src]="'/assets/images/products/' + product.image" [alt]="product.name"
                                    class="w-12 h-12 rounded-xl shadow-md mr-2" />
                                <span class="font-semibold text-base">{{product.name}}</span>
                            </div>
                        </td>
                        <td>{{product.customer}}</td>
                        <td>{{'$'+product.price}}</td>
                        <td>{{product.date}}</td>
                        <td>
                            <span class="tag" [ngClass]="product.status | lowercase">
                                {{product.statusText}}
                            </span>
                        </td>
                        <td>{{product.rating}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>