.p-tieredmenu {
    @apply min-w-36;

    .p-tieredmenu-root-list {
        @apply bg-white text-primary-900 shadow-md rounded-md p-4 border-t border-gray-50;

        .p-menuitem {
            @apply py-2;

            .p-menuitem-content {

                .p-menuitem-link {
                    @apply text-sm;

                    .p-menuitem-icon {
                        @apply mr-2;
                    }

                    .p-menuitem-text {
                        @apply text-[15px];
                    }
                }
            }
        }
    }
}

.p-progressbar {
    @apply h-1 rounded-md border-none bg-gray-300;

    .p-progressbar-value {
        @apply m-0 border-none bg-primary-500;
    }

    .p-progressbar-label {
        @apply hidden;
    }

    .p-progressbar-determinate {
        .p-progressbar-value-animate {
            transition: width 1s ease-in-out;
        }
    }
}

.p-datatable-table {

    .p-datatable-thead {
        tr {
            th {
                @apply py-3.5 px-2 text-primary-900 font-headingFontFamily text-sm bg-[#f7faff] relative;
            }

            th:not(:last-child) {
                @apply after:absolute after:w-[1px] after:top-[34%] after:right-0 after:h-4 after:bg-slate-200;
            }
        }
    }

    .p-datatable-tbody {
        tr {
            @apply border-b border-b-[#f4f7f6];

            td {
                @apply text-primary-700 p-2 py-3 text-sm text-center;
            }
        }
    }
}

.p-dropdown-panel {
    @apply bg-white text-primary-900 shadow-md rounded-md p-0.5 border-t border-gray-50;

    .p-dropdown-item {
        @apply px-4 py-2;
    }

    .p-highlight {
        @apply rounded-md;
    }
}

.p-paginator {
    @apply mt-4;

    .p-paginator-pages {
        .p-paginator-page {
            @apply w-11 h-11 rounded-md duration-200 transition-all bg-transparent text-gray-600 mx-0.5;
            @apply hover:bg-gray-100;
        }

        .p-highlight {
            @apply bg-primary-50 text-primary-500 font-semibold hover:bg-primary-50;
        }
    }

    .p-paginator-first,
    .p-paginator-last,
    .p-paginator-prev,
    .p-paginator-next {
        @apply w-11 h-11 rounded-md duration-200 transition-all bg-transparent text-gray-600 mx-0;
    }
}

.p-dropdown {
    @apply text-primary-900 mx-2 h-11 relative bg-white border border-gray-200 transition-all duration-200 cursor-pointer rounded-md;

    .p-dropdown-label {
        @apply p-2 cursor-pointer border-none outline-none block whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .p-dropdown-trigger {
        @apply bg-transparent text-gray-500 w-11;
    }

}

.p-panelmenu {
    .p-highlight {
        @apply bg-white;
    }

    .p-panelmenu-header {
        @apply p-3.5;

        .p-panelmenu-header-content {

            .p-icon-wrapper {

                .p-submenu-icon {
                    @apply mr-2;
                }
            }

            .p-menuitem-icon {
                @apply mr-2;
            }

            .p-panelmenu-header-action {
                .p-menuitem-text {
                    @apply text-[15px] font-semibold;
                }
            }
        }

    }

    .p-panelmenu-content {

        .p-submenu-list {

            .p-menuitem {
                @apply p-3 py-2.5;

                .p-menuitem-content {
                    @apply pl-4;

                    .p-menuitem-link {

                        .p-menuitem-icon {
                            @apply text-[0.4rem] mr-3;
                        }

                        .p-menuitem-text {
                            @apply text-[15px] font-medium text-primary-900;
                        }
                    }

                    .p-menuitem-link-active {
                        .p-menuitem-text {
                            @apply text-primary-500;
                        }
                    }
                }
            }
        }
    }

}

.p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.p-checkbox {
    @apply h-[22px] w-[22px];

    .p-checkbox-box {
        @apply bg-white h-[22px] w-[22px] text-[#4b5563] rounded-md border-2 border-solid border-[#d1d5db];
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

        .p-checkbox-icon {
            @apply transition-all duration-200 text-white text-sm;
        }

        .p-icon {
            @apply h-[14px] w-[14px];
        }
    }

    .p-checkbox-box.p-highlight {
        @apply bg-primary-500 border-primary-500;
    }
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    @apply border-primary-500;
}

.p-tooltip {
    @apply absolute hidden pointer-events-none;

    .p-tooltip-text {
        @apply px-2 py-1.5 bg-[#4b5563] text-white shadow-sm rounded-md break-words whitespace-pre-line;
    }

    .p-tooltip-arrow {
        @apply scale-[2] absolute w-0 h-0 border-transparent border-solid;
    }

}

.p-tooltip-right {
    @apply p-0 px-1;

    .p-tooltip-arrow {
        @apply border-r-[#4b5563] top-1/2 left-0 -mt-1 border-y-[.25rem] border-r-[.25rem] border-l-0;
    }
}

.p-tooltip-left {
    @apply py-0 px-1;

    .p-tooltip-arrow {
        @apply border-l-[#4b5563] top-1/2 right-0 -ml-1 border-y-[.25rem] border-r-0 border-l-[.25rem];
    }
}

.p-tooltip-top {
    @apply py-1 px-0;

    .p-tooltip-arrow {
        @apply border-t-[#4b5563] bottom-0 left-1/2 -ml-1 border-t-[.25rem] border-b-0 border-x-[.25rem];
    }
}

.p-tooltip-bottom {
    @apply py-1 px-0;

    .p-tooltip-arrow {
        @apply border-b-[#4b5563] top-0 left-1/2 -ml-1 border-t-0 border-b-[.25rem] border-x-[.25rem];
    }
}

// //////////////////////////



.p-highlight {
    @apply bg-primary-50 text-primary-600;
}

.p-dropdown:not(.p-disabled):hover {
    @apply border-primary-500;
}

.p-focus {
    @apply border-primary-500 outline-none outline-offset-0 shadow-primary-300 shadow-none;
}



.p-dropdown-panel {
    .p-dropdown-items-wrapper {
        .p-dropdown-items {
            .p-element {
                @apply text-center;
            }
        }
    }
}